<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <h1>Calculadora 2</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item>
    <ion-label position="stacked"><h1>Operação</h1></ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label><h1>Resultado:</h1> </ion-label>
  </ion-item>

  <ion-item>
    <ion-row class="dividir">
      <ion-col >
        <ion-button size="default" fill="clear">MC</ion-button>
      </ion-col>

      <ion-col>
        <ion-button size="default" fill="clear">MR</ion-button>
      </ion-col>

      <ion-col>
        <ion-button size="default" fill="clear">M+</ion-button>
      </ion-col>

      <ion-col>
        <ion-button size="default" fill="clear">M-</ion-button>
      </ion-col>

      <ion-col>
        <ion-button size="default" fill="clear">MS</ion-button>
      </ion-col>

    </ion-row>

  </ion-item>

  
  
  <ion-item>
    <ion-row class="dividir">
      <ion-col>
        <ion-button color="light" size="large">%</ion-button>
      </ion-col>

      <ion-col>
        <ion-button color="light" size="large">CE</ion-button>
      </ion-col>

      <ion-col>
        <ion-button color="light" size="large">C</ion-button>
      </ion-col>

      <ion-col>
        <ion-button color="light" size="large">
          <ion-icon name="backspace-outline"></ion-icon>
        </ion-button>
      </ion-col>

    </ion-row>

  </ion-item>

  <ion-item>
    <ion-row class="dividir">
      <ion-col>
        <ion-button color="light" size="large">1/x</ion-button>
      </ion-col>

      <ion-col>
        <ion-button color="light" size="large">x2</ion-button>
      </ion-col>

      <ion-col>
        <ion-button color="light" size="large">2x</ion-button>
      </ion-col>

      <ion-col>
        <ion-button color="light" size="large">÷</ion-button>
      </ion-col>

    </ion-row>

  </ion-item>

  <ion-item>
    <ion-row class="dividir">
      <ion-col>
        <ion-button color="light" size="large">7</ion-button>
      </ion-col>

      <ion-col>
        <ion-button color="light" size="large">8</ion-button>
      </ion-col>

      <ion-col>
        <ion-button color="light" size="large">9</ion-button>
      </ion-col>

      <ion-col>
        <ion-button color="light" size="large">X</ion-button>
      </ion-col>

    </ion-row>

  </ion-item>

  <ion-item>
    <ion-row class="dividir">
      <ion-col>
        <ion-button color="light" size="large">4</ion-button>
      </ion-col>

      <ion-col>
        <ion-button color="light" size="large">5</ion-button>
      </ion-col>

      <ion-col>
        <ion-button color="light" size="large">6</ion-button>
      </ion-col>

      <ion-col>
        <ion-button color="light" size="large">-</ion-button>
      </ion-col>

    </ion-row>

  </ion-item>

  <ion-item>
    <ion-row class="dividir">
      <ion-col>
        <ion-button color="light" size="large">1</ion-button>
      </ion-col>

      <ion-col>
        <ion-button color="light" size="large">2</ion-button>
      </ion-col>

      <ion-col>
        <ion-button color="light" size="large">3</ion-button>
      </ion-col>

      <ion-col>
        <ion-button color="light" size="large">+</ion-button>
      </ion-col>

    </ion-row>

  </ion-item>

  <ion-item>
    <ion-row class="dividir">
      <ion-col>
        <ion-button color="light" size="large">+/-</ion-button>
      </ion-col>

      <ion-col>
        <ion-button color="light" size="large">0</ion-button>
      </ion-col>

      <ion-col>
        <ion-button color="light" size="large">,</ion-button>
      </ion-col>

      <ion-col>
        <ion-button color="light" size="large">=</ion-button>
      </ion-col>

    </ion-row>

  </ion-item>





</ion-content>